
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_LayoutOuter.cshtml";
}
<link href="~/assets/css/style.css" rel="stylesheet">
<section class="d-flex">
    <div class="container">
        <div class="d-flex">
            <form action="#" autocomplete="none" class="d-flex w-100 justify-content-center">
                <div class="col-lg-5 col-md-5 col-sm-6 mb-4 py-4 px-5 mt-5 shadow bg-white rounded border-light">
                    <h3 class="login_heding">Change Your Password</h3>
                    <div class="login_form">
                        <div class="my-3">
                            @*<label for="txtOldPassword" class="form-label p-0 text-right" style="width: 35%;">Old Password: <span class="text-danger">*</span></label>*@
                            @Html.Password("txtOldPassword", "", new { @class = "form-control fw-light w-100", @placeholder = "Old Password" })
                            <span style="display:none;" class="text-danger"></span>

                        </div>
                        <div class="my-3">
                            @*<label for="txtNewPassword" class="form-label p-0 text-right" style="width: 35%;">New Passowrd: <span class="text-danger">*</span></label>*@
                            @Html.Password("txtNewPassword", "", new { @class = "form-control fw-light w-100", @placeholder = "New Password" })
                            <span style="display:none;" class="text-danger"></span>
                        </div>
                        <div class="my-3">
                            @*<label for="txtConfirmPassword" class="form-label p-0" style="width: 35%;">Confirm Password: <span class="text-danger">*</span></label>*@
                            @Html.Password("txtConfirmPassword", "", new { @class = "form-control fw-light w-100", @placeholder = "Confirm Password" })
                            <span style="display:none;" class="text-danger"></span>
                            @Html.Hidden("hdnUserID", (object)ViewBag.UserID)
                        </div>
                        <div class="login_group mb-3">
                            <button type="submit" class="login-btn btn px-3" onclick="fnchangepassword();">Submit</button>
                            <div class="alert alert-success alert-dismissible text-center" style="display:none;width:100%">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                <span id="msg"></span>
                            </div>
                        </div>
                        <hr />
                        <div class="login_group d-flex justify-content-between mt-3">
                            @Html.ActionLink("Login here", "Logout", "Home", new { area = "" }, new { @class = "link-secondary" })
                            <a href="//service-front.foxnutt.com/help" role="button" target="_blank" class="link-secondary" title="need help">Need Help</a>
                        </div>

                    </div>

                </div>
            </form>
        </div>
    </div>
</section>
<!-- Toast -->
<div class="toast-container position-fixed bottom-0 end-0 p-3" id="toastPlacement">
    <div id="toastMessage" role="alert" aria-live="assertive" aria-atomic="true" class="toast" data-bs-autohide="false">
        <div class="d-flex">
            <div id="toastBody" class="toast-body">
                Hello, world! This is a toast message.
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">


        function ValidateUser() {

            event = event || window.event || event.srcElement;
            var return_val = true;


            if ($('#txtOldPassword').val().trim() == '') {
                $('#txtOldPassword').next('span').text('Please enter old password').show();
                return_val = false;
            } else {
                $('#txtOldPassword').next('span').hide();
                //if (PasswordStrengthCheck($('#Password').val().trim()) == false) {
                //    return_val = false;
                //}
            }

            if ($('#txtNewPassword').val().trim() == '') {
                $('#txtNewPassword').next('span').text('Please enter new password').show();
                return_val = false;
            } else {
                $('#txtNewPassword').next('span').hide();
                //if (PasswordStrengthCheck($('#Password').val().trim()) == false) {
                //    return_val = false;
                //}
            }

            if ($('#txtConfirmPassword').val().trim() == '') {
                $('#txtConfirmPassword').next('span').text('Please enter confirm password').show();
                return_val = false;
            } else {
                if ($('#txtNewPassword').val().trim() != $('#txtConfirmPassword').val().trim()) {
                    $('#txtConfirmPassword').next('span').text('New and confirm password did not match!!!').show();
                    return_val = false;
                } else {
                    $('#txtConfirmPassword').next('span').hide();
                }
            }



            if (!return_val) {
                event.preventDefault();
                return false;
            }
        }

        function fnchangepassword() {
            const toastEl = $('#toastMessage');
            const toast = new bootstrap.Toast(toastEl);

            toastEl.addClass('bg-danger text-white');

            if (ValidateUser() == false) {
                return false;
            }

            var data = { "NewPassword": $("#txtNewPassword").val(), "OldPassword": $("#txtOldPassword").val(), "user_id": $("#hdnUserID").val()}
        $.ajax({
            type: "post",
            url: '@Url.Action("ChangePassword", "Home")',
            data: JSON.stringify(data),
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                $("#msg").html(result);
                $(".alert-success").show();

            },
            error: function (xhr, status, error) {
                const err = xhr.statusText;
                $('#toastBody').html(`Oops... <div>${err}, please try again.</div>`);
                toast.show();
            }
        })
    }
    </script>

}

