@model mloyal_ticket_system.Models.ResetPasswordModel
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_LayoutOuter.cshtml";
}

<link href="~/assets/css/style.css" rel="stylesheet">
<section class="d-flex align-items-start justify-content-between">
    <div class="container">
        <div class="d-flex align-items-end justify-content-between flex-wrap">
            <div class="col-sm-6 w-75 m-auto">
                <img src="~/assets/img/login_img.png" class="img-fluid" alt="">
            </div>
            <div class="col-lg-4 col-md-5 col-sm-6 mb-4 pb-4 mt-3">
                <h3 class="login_heding">Reset Password</h3>
                @if (ViewBag.Status != null && Convert.ToBoolean(ViewBag.Status))
                {
                    <div class="login_form">
                        <div id="msg" class="text-danger text-center py-2 mb-2"></div>
                        <div class="my-3">
                            @Html.Password("txtNewPassword", "", new { @class = "form-control fw-light w-100", @placeholder = "New Password" })
                            <span style="display:none;" class="text-danger"></span>
                            <div class="clearfix"></div>
                        </div>
                        <div class="my-3">
                            @Html.Password("txtConfirmPassword", "", new { @class = "form-control fw-light w-100", @placeholder = "Confirm Password" })
                            <span style="display:none;" class="text-danger"></span>
                            @Html.Hidden("hdnResetCode", (object)ViewBag.ResetCode)
                            <div class="clearfix"></div>
                        </div>
                        <div class="login_group mb-3">
                            <button type="submit" class="login-btn btn px-3" onclick="fnresetpassword();">Submit</button>
                        </div>
                        <hr />
                        <div class="login_group d-flex justify-content-between mt-3">
                            @Html.ActionLink("Login here", "Login", "Home", new { area = "" }, new { @class = "link-secondary" })
                        </div>
                    </div>
                }
                else
                {
                    <div class="alert alert-danger p-2 my-2">
                        <strong>Error ! </strong>@ViewBag.Message
                    </div>
                    <div class="btn btn-secondary login_group" role="button">
                        @Html.ActionLink("Back to Login", "Login", "Home", new { area = "" }, new { @class = "link-secondary" })
                    </div>
                }
            </div>
        </div>
    </div>
</section>
<!-- Toast -->
<div class="toast-container position-fixed bottom-0 end-0 p-3" id="toastPlacement">
    <div id="toastMessage" role="alert" aria-live="assertive" aria-atomic="true" class="toast" data-bs-autohide="false">
        <div class="d-flex">
            <div id="toastBody" class="toast-body">
                Hello, world! This is a toast message.
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>


    @section scripts{
        <script type="text/javascript">


        function ValidateUser() {

            event = event || window.event || event.srcElement;
            var return_val = true;

            if ($('#txtNewPassword').val().trim() == '') {
                $('#txtNewPassword').next('span').text('Please enter password').show();
                return_val = false;
            } else {
                $('#txtNewPassword').next('span').hide();
                //if (PasswordStrengthCheck($('#Password').val().trim()) == false) {
                //    return_val = false;
                //}
            }

            if ($('#txtConfirmPassword').val().trim() == '') {
                $('#txtConfirmPassword').next('span').text('Please enter confirm password').show();
                return_val = false;
            } else {
                $('#txtConfirmPassword').next('span').hide();
                //if (PasswordStrengthCheck($('#Password').val().trim()) == false) {
                //    return_val = false;
                //}
            }

            if ($('#txtNewPassword').val().trim() !=$('#txtConfirmPassword').val().trim()) {
                $('#txtConfirmPassword').next('span').text('Password did not match!!!').show();
                return_val = false;
            } else {
                $('#txtConfirmPassword').next('span').hide();
                //if (PasswordStrengthCheck($('#Password').val().trim()) == false) {
                //    return_val = false;
                //}
            }

            if (!return_val) {
                event.preventDefault();
                return false;
            }
        }

        function fnresetpassword() {
            const toastEl = $('#toastMessage');
            const toast = new bootstrap.Toast(toastEl);

            toastEl.addClass('bg-danger text-white');

            if (ValidateUser() == false) {
                return false;
            }

        var data = { "NewPassword": $("#txtNewPassword").val(), "ResetCode": $("#hdnResetCode").val() }
        $.ajax({
            type: "post",
            url: '@Url.Action("ResetPassword", "Home")',
            data: JSON.stringify(data),
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                $("#msg").html(result);
            },
            error: function (xhr, status, error) {
                const err = xhr.statusText;
                $('#toastBody').html(`Oops... <div>${err}, please try again.</div>`);
                toast.show();
            }
        })
    }
        </script>

    }
